<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>HONEUR - Storage Service</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

</head>

<body>

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <small><img src="/img/HONEUR_logo.png" alt="HONEUR" width="200"/> Haematology Outcomes Network Europe</small>
        <small class="text-right">
            <span th:text="'Welcome, ' + ${subjectName}"></span>
        </small>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <h2 th:text="${bucketName}"></h2>

    <h3>Cohort definitions</h3>

    <table class="table" th:object="${cohortDefinitions}" id="objectSummaryTable" th:if="${!cohortDefinitions.empty}">
        <tr th:each="cohortDefinition :${cohortDefinitions}">
            <td>
                <a th:href="@{'/file/' + ${cohortDefinition.uuid}}" th:text="${cohortDefinition.originalFilename} + ' (' + ${cohortDefinition.uuid} + ')'"></a>
            </td>
        </tr>
    </table>

    <p th:if="${cohortDefinitions.empty}">No cohort definitions</p>

    <p><br/></p>

</div>

<div class="container">

    <h4>Upload cohort definition</h4>

    <form method="POST" enctype="multipart/form-data" th:action="@{'/cohort-definitions/1'}">
        <table width="200">
            <tr>
                <td>File:</td>
                <td><input type="file" name="file" /></td>
                <td><input type="submit" value="Upload" /></td>
            </tr>
        </table>
    </form>

    <p><br/></p>

</div>


<div class="container">

    <h3>All files</h3>

    <table class="table" th:object="${allFileKeys}" id="allFileKeysTable" th:if="${!allFileKeys.empty}">
        <tr th:each="fileinfo :${allFileKeys}">
            <td>
                <a th:href="@{'/file?fileKey=' + ${fileinfo.key}}" th:text="${fileinfo.originalFilename}"></a>
            </td>
            <td>
                <form th:action="@{'/file?fileKey=' + ${fileinfo.key}}" th:method="delete">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    </table>

    <p th:if="${allFileKeys.empty}">Empty bucket</p>

    <p><br/></p>

</div>

<!-- Footer -->
<footer class="py-5">
    <div class="container">
        <p class="text-center">Copyright &copy; HONEUR 2018</p>
    </div>
    <!-- /.container -->
</footer>

</body>
</html>